/*Primary style for portfolio*/

body {
	padding:0px;
	margin:0px;
}

div {
	font-family:Tahoma, serif;
	height:100px;
	width:100px;
	font-weight: bold;
	color:#FFFFFF;
}

li {
	list-style:square;
}

.titlebar {
	background-color:#666633;
	border-bottom:5px solid;
	border-bottom-color:#919133; /*#383B1D*/
	position:fixed;
	display:inline;
	height:100px;
	width:100%;
	z-index:1;
}

#wrapper {
	width:100%;
	clear:both;
	margin-top:104px;
	position:absolute;
}

.nav {
	background-color:#990033;
	border-top:5px solid;
	border-top-color:#690124;
	height:100%;
	width:100px;
	float:left;
	position:fixed;
	padding:10px;
}

.main {
	background-color:#CCCC99;
	border-radius:20px;
	color:#000000;
	font-weight:normal;
	height:auto;
	width:auto;
	margin-top:10px;
	margin-right:10px;
	margin-left:130px;
	padding:10px;
}

.footer {
	color:#D2D3D6;
	text-align:center;
	width:auto;
	margin-left:140px;
	margin-right:20px;
	margin-top:50px;
	border-top:#D2D3D6 2px solid;
}